extends inc/main.pug
block variables
	- var home = true;

block css
	style(type="text/css").
		#slider1 {
			height: 394px;
			background: #000;
			border-radius: 4px;
			overflow: hidden;
		}
		
		/* responsive rules */
		@media (max-width: 713px) {
			#slider1 {
				height: auto; /* reset slider height to automatically fix with the first image height. */
				border-radius: 0;
			}
		}

block content
	.top
		.tv
			#slider1.jSlider
				- var val = 0
				while val++ < 6
					div: img(src='images/photo'+val+'.jpg')
